body {
  background-color: black;
  font-family: 'Josefin Slab', serif;
  color: white;
}
header {
  margin: 0;
  text-align: center;
  color: white;
}
p {
  padding: 10px 20px 0 20px;
  font-size: 1.1em;
}
h1 {
  text-align: center;
  font-size: 120%;
}
h3 {
  padding: 10px 20px 0 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: .8em;
}
footer {
  font-size: 1.5em;
  position: 400px 200px;
}
ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
.clearfix {
  clear: both;
}
.main-nav li {
  display: block;
  font-size: 1.5em;
  padding: .2em .2em;
  border: solid;
}
.main-nav ul {
  display: none;
}
.main-nav:hover ul {
  display: block;
  padding: 0;
  list-style: none;
}
#pic {
  align-items: center;
  border-radius: 35px;
}
#pic.expand {
  width: 6.5em;
}
#hamburger-bun {
  position: absolute;
  z-index: 99999;
  top: 0;
  width: 60px;
  right: 5px;
  top: 160px;
}
#burger {
  padding: 0 0 80px 0;
}

@media only screen and (min-width: 515px) {
  .main-nav ul {
    display: none;
  }
  .main-nav li {
    display: inline-block;
    font-size: 1.5em;
    padding-left: .6em;
    border: solid;
    margin: 0 1px 0 0;
  }
}

@media only screen and (min-width: 640px) {
  .main-nav ul {
  display: block;
  padding: 0;
  margin: 0;
  }
  .main-nav li {
    display: inline-block;
    font-size: 1.5em;
    padding-left: .6em;
    border: solid;
    margin: 0 1px 0 0;
  }
  #hamburger-bun {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-nav ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  .main-nav li {
    display: inline-block;
    font-size: 1.5em;
    padding-left: .6em;
    border: solid;
    margin: 0 1px 0 0;
  }
  .main-nav li a {
    padding: 0 2px;
  }
}
